<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Posts</title>
</head>

<body>
    <div class="header">
        <h1>Postify</h1>
    </div>
    <% for(post of posts){%>
        <div class="post">
            <div class="post-cont">
                <h3 class="user">@<%= post.username %>
                </h3>
                <h4 class="content">
                    <%= post.content %>
                </h4>
                <br>
                <button><a href="http://localhost:8080/posts/<%= post.id%>">See In Detail</a></button>
                <button><a href="http://localhost:8080/posts/<%= post.id%>/edit">Edit Post</a></button>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        <% } %>

            <br>
            <button id="postbtn"><a href="http://localhost:8080/posts/new">Create new post</a></button>
</body>

</html>